In [26]:
import pandas as pd

p_list = [
    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71,
    73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151,
    157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 239, 241, 251,
    257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347,
    349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433,
    439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523,
    541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619,
    631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727,
    733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827,
    829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937,
    941, 947, 953, 967, 971, 977, 983, 991, 997, 1009
]

p_bi_arr = [[(p - 1)*(q - 1) for q in p_list] for p in p_list]

df = pd.DataFrame(
    p_bi_arr,
    index=p_list,
    columns=p_list
)

df

,2,3,5,7,11,13,17,19,23,29,...,941,947,953,967,971,977,983,991,997,1009
2,1,2,4,6,10,12,16,18,22,28,...,940,946,952,966,970,976,982,990,996,1008
3,2,4,8,12,20,24,32,36,44,56,...,1880,1892,1904,1932,1940,1952,1964,1980,1992,2016
5,4,8,16,24,40,48,64,72,88,112,...,3760,3784,3808,3864,3880,3904,3928,3960,3984,4032
7,6,12,24,36,60,72,96,108,132,168,...,5640,5676,5712,5796,5820,5856,5892,5940,5976,6048
11,10,20,40,60,100,120,160,180,220,280,...,9400,9460,9520,9660,9700,9760,9820,9900,9960,10080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,976,1952,3904,5856,9760,11712,15616,17568,21472,27328,...,917440,923296,929152,942816,946720,952576,958432,966240,972096,983808
983,982,1964,3928,5892,9820,11784,15712,17676,21604,27496,...,923080,928972,934864,948612,952540,958432,964324,972180,978072,989856
991,990,1980,3960,5940,9900,11880,15840,17820,21780,27720,...,930600,936540,942480,956340,960300,966240,972180,980100,986040,997920
997,996,1992,3984,5976,9960,11952,15936,17928,21912,27888,...,936240,942216,948192,962136,966120,972096,978072,986040,992016,1003968
1009,1008,2016,4032,6048,10080,12096,16128,18144,22176,28224,...,947520,953568,959616,973728,977760,983808,989856,997920,1003968,1016064